.navbar {
  justify-content: space-between;
  align-items: center;
  height: 100%;

  div {
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }

  a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    text-transform: uppercase;
    color: #5B4CD8;
    text-decoration: none;

    &.active,
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}